In [89]:
import pandas as pd
import numpy as np
import seaborn as sns

In [90]:
base = '../../DL-project_results/new_results'
base_exp1 = '../../DL-project_results/'

def extract_best(layer, dataset, latex=True):
    datasets_cpu = ['BZR_MD','COX2_MD', 'ENZYMES']
    datasets_cuda = ['PROTEINS','DD', 'NCI1']

    if dataset in datasets_cpu:
        acellerator = 'cpu'
    else:
        acellerator = 'cuda'

    tmp = base
    
    if layer == 'sage' and  acellerator == 'cuda':
        tmp = base_exp1
    

    exp1 = pd.read_csv(f'{tmp}/tu_base_grid_{layer}_{acellerator}/agg/val_best.csv')
    df_val_exp1 = exp1[exp1['dataset'] == dataset]#.sort_values('accuracy', ascending=False)

    exp2 = pd.read_csv(f'{base}/tu_base_grid_{layer}_pos_{acellerator}/agg/val_best.csv')
    df_val_exp2 = exp2[exp2['dataset'] == dataset]#.sort_values('accuracy', ascending=False)

    
    dilated = df_val_exp1[df_val_exp1['type'] == 'dilated_gnn'].sort_values('accuracy', ascending=False)
    std = df_val_exp1[df_val_exp1['type'] == 'standard_gnn'].sort_values('accuracy', ascending=False)
    
    leaf = df_val_exp2.sort_values('accuracy', ascending=False)
    # leaf_len = df_val_exp2[df_val_exp2['pos'] ==  True].sort_values('accuracy', ascending=False)

    df_test_exp1 = pd.read_csv(f'{tmp}/tu_base_grid_{layer}_{acellerator}/agg/test_best.csv')
    df_test_exp2 = pd.read_csv(f'{base}/tu_base_grid_{layer}_pos_{acellerator}/agg/test_best.csv')

    std_test = df_test_exp1[df_test_exp1['model_id'] == std.iloc[0]['model_id']]
    dilated_test = df_test_exp1[df_test_exp1['model_id'] == dilated.iloc[0]['model_id']]
    leaf_test = df_test_exp2[df_test_exp2['model_id'] == leaf.iloc[0]['model_id']]
    # leaf_len_test = df_test_exp2[leaf_len.iloc[0].index]


    # res = {
    #     'layer': layer,
    #     'dataset': dataset,
    #     'val_gnn_accuracy':  std['accuracy'].iloc[0],
    #     'val_gnn_accuracy_std': std['accuracy_std'].iloc[0],
    #     'val_dilated_accuracy':  dilated['accuracy'].iloc[0],
    #     'val_dilated_accuracy_std': dilated['accuracy_std'].iloc[0],
    #     'val_leaf_accuracy':  leaf['accuracy'].iloc[0],
    #     'val_leaf_accuracy_std': leaf['accuracy_std'].iloc[0],
    #     'val_leaf_len_accuracy':  leaf_len['accuracy'].iloc[0],
    #     'val_leaf_len_accuracy_std': leaf_len['accuracy_std'].iloc[0],

    #     'test_gnn_accuracy':  std_test['accuracy'].iloc[0],
    #     'test_gnn_accuracy_std': std_test['accuracy_std'].iloc[0],
    #     'test_dilated_accuracy':  dilated_test['accuracy'].iloc[0],
    #     'test_dilated_accuracy_std': dilated_test['accuracy_std'].iloc[0],
    #     'test_leaf_accuracy':  leaf_test['accuracy'].iloc[0],
    #     'test_leaf_accuracy_std': leaf_test['accuracy_std'].iloc[0],
    #     'test_leaf_len_accuracy':  leaf_len_test['accuracy'].iloc[0],
    #     'test_leaf_len_accuracy_std': leaf_len_test['accuracy_std'].iloc[0],
    # }

    if latex:
    
        res = [
            {
                'layer': layer,
                'dataset': dataset,
                'arc': '2_dilapos',
                'val_accuracy':  f"${round(100*leaf['accuracy'].iloc[0],2)}\pm{round(100*leaf['accuracy_std'].iloc[0],2)}$" ,
                'test_accuracy':  f"${round(100*leaf_test['accuracy'].values[0],2)}\pm{round(100*leaf_test['accuracy_std'].values[0],2)}" if  len(leaf_test['accuracy']) > 0  else 'NA'
            },
            {
                'layer': layer,
                'dataset': dataset,
                'arc': '1_dilated',
                'val_accuracy':  f"${round(100*dilated['accuracy'].iloc[0],2)}\pm{round(100*dilated['accuracy_std'].iloc[0],2)}$" ,
                'test_accuracy':  f"${round(100*dilated_test['accuracy'].values[0],2)}\pm{round(100*dilated_test['accuracy_std'].values[0],2)}$" if  len(dilated_test['accuracy']) > 0  else 'NA'
            },
        
            {
                'layer': layer,
                'dataset': dataset,
                'arc': '0_gnn',
                'val_accuracy':  f"${round(100*std['accuracy'].iloc[0],2)}\pm{round(100*std['accuracy_std'].iloc[0],2)}$" ,
                'test_accuracy': f"${round(100*std_test['accuracy'].values[0],2)}\pm{round(100*std_test['accuracy_std'].values[0],2)}$" if  len(std_test['accuracy']) > 0  else 'NA'
            }
        
        ]
    else:
        res = [
            {
                'layer': layer,
                'dataset': dataset,
                'arc': '2_dilapos',
                'val_accuracy':  f"{round(100*leaf['accuracy'].iloc[0],2)}±{round(100*leaf['accuracy_std'].iloc[0],2)}" ,
                'test_accuracy':  f"{round(100*leaf_test['accuracy'].values[0],2)}±{round(100*leaf_test['accuracy_std'].values[0],2)}" if  len(leaf_test['accuracy']) > 0  else 'NA'
            },
            {
                'layer': layer,
                'dataset': dataset,
                'arc': '1_dilated',
                'val_accuracy':  f"{round(100*dilated['accuracy'].iloc[0],2)}±{round(100*dilated['accuracy_std'].iloc[0],2)}" ,
                'test_accuracy':  f"{round(100*dilated_test['accuracy'].values[0],2)}±{round(100*dilated_test['accuracy_std'].values[0],2)}" if  len(dilated_test['accuracy']) > 0  else 'NA'
            },
        
            {
                'layer': layer,
                'dataset': dataset,
                'arc': '0_gnn',
                'val_accuracy':  f"{round(100*std['accuracy'].iloc[0],2)}±{round(100*std['accuracy_std'].iloc[0],2)}" ,
                'test_accuracy': f"{round(100*std_test['accuracy'].values[0],2)}±{round(100*std_test['accuracy_std'].values[0],2)}" if  len(std_test['accuracy']) > 0  else 'NA'
            }
        
        ]
    return res

In [91]:
datasets = ['BZR_MD','COX2_MD', 'ENZYMES', 'PROTEINS','DD', 'NCI1']
layers = ['gin', 'gcn', 'gat',  'sage'] #

res = []
for layer in layers:
    for d in datasets:
        res.extend(extract_best(layer, d))

res = pd.DataFrame(res).sort_values('layer')

# pd.pivot_table(res, values=['val_accuracy'], 
#                                 index=['layer', 'arc'], 
#                                 columns='dataset', aggfunc='first') 
res

   layer  dataset        arc    val_accuracy   test_accuracy
37   gat   BZR_MD  1_dilated   $80.65\pm5.4$  $67.67\pm5.78$
38   gat   BZR_MD      0_gnn  $80.97\pm4.88$  $69.67\pm8.36$
39   gat  COX2_MD  2_dilapos   $86.0\pm5.54$    $69.0\pm6.51
40   gat  COX2_MD  1_dilated   $86.0\pm5.54$   $69.0\pm6.51$
41   gat  COX2_MD      0_gnn   $87.0\pm6.57$   $73.33\pm8.3$
..   ...      ...        ...             ...             ...
56  sage   BZR_MD      0_gnn  $85.81\pm4.38$  $75.67\pm6.51$
55  sage   BZR_MD  1_dilated  $85.81\pm4.13$   $76.34\pm9.6$
70  sage     NCI1  1_dilated   $84.52\pm0.9$  $80.88\pm1.75$
61  sage  ENZYMES  1_dilated  $73.83\pm5.58$  $68.33\pm4.15$
71  sage     NCI1      0_gnn  $84.02\pm1.56$  $79.61\pm2.42$

[72 rows x 5 columns]

In [92]:
datasets = ['BZR_MD','COX2_MD', 'ENZYMES', 'PROTEINS', 'NCI1', 'DD']
layers = ['gin', 'gcn', 'gat',  'sage'] #
a = []
for layer in layers:
    res = []
    for d in datasets:
        res.extend(extract_best(layer, d))

    res = pd.DataFrame(res).sort_values('layer')

    a.append(pd.pivot_table(res, values=['test_accuracy'], 
                                    index='dataset', 
                                    columns='arc', aggfunc='first'))

In [93]:
a[0] #DONE #gin

           test_accuracy
arc                0_gnn       1_dilated      2_dilapos
dataset
BZR_MD     $67.0\pm8.49$  $64.33\pm8.95$  $64.33\pm8.95
COX2_MD   $63.67\pm4.82$  $66.33\pm4.82$  $66.33\pm4.82
DD        $72.99\pm2.48$  $74.78\pm3.47$   $75.9\pm5.68
ENZYMES    $64.0\pm7.04$  $65.67\pm4.96$  $64.67\pm4.46
NCI1      $80.51\pm1.87$   $80.42\pm1.5$   $80.68\pm1.2
PROTEINS   $73.6\pm5.34$   $75.5\pm5.16$  $73.51\pm4.21

In [94]:
a[1] #gcn

           test_accuracy
arc                0_gnn       1_dilated      2_dilapos
dataset
BZR_MD    $68.67\pm4.52$   $71.0\pm8.44$   $71.0\pm8.44
COX2_MD    $64.0\pm9.16$  $63.67\pm6.23$  $63.67\pm6.23
DD          $73.5\pm4.6$  $75.64\pm4.82$  $75.21\pm4.52
ENZYMES   $57.17\pm6.37$   $60.5\pm4.41$   $60.5\pm4.41
NCI1      $73.92\pm2.09$  $75.06\pm1.99$  $73.89\pm2.43
PROTEINS  $75.76\pm5.09$  $74.23\pm5.88$  $74.68\pm3.29

In [95]:
a[2] #not completed on DD #gat

           test_accuracy
arc                0_gnn       1_dilated      2_dilapos
dataset
BZR_MD    $69.67\pm8.36$  $67.67\pm5.78$  $67.67\pm5.78
COX2_MD    $73.33\pm8.3$   $69.0\pm6.51$   $69.0\pm6.51
DD        $72.82\pm4.06$  $76.07\pm5.17$  $75.38\pm4.34
ENZYMES    $71.0\pm5.78$   $72.0\pm3.78$  $70.17\pm6.68
NCI1      $79.59\pm1.58$  $79.51\pm1.67$  $80.66\pm1.91
PROTEINS  $73.34\pm4.11$  $74.96\pm4.75$  $74.06\pm4.64

In [96]:
a[3] #old on 'PROTEINS','DD', 'NCI1', 10 remaining on DD #sage

           test_accuracy
arc                0_gnn       1_dilated      2_dilapos
dataset
BZR_MD    $75.67\pm6.51$   $76.34\pm9.6$   $76.34\pm9.6
COX2_MD    $69.0\pm8.83$   $72.33\pm9.2$  $67.67\pm6.15
DD        $74.62\pm5.41$  $75.56\pm4.29$  $75.47\pm2.29
ENZYMES   $61.67\pm6.19$  $68.33\pm4.15$   $66.0\pm4.84
NCI1      $79.61\pm2.42$  $80.88\pm1.75$  $81.58\pm1.84
PROTEINS  $71.62\pm5.42$  $72.88\pm5.07$  $73.51\pm7.29

In [97]:
ogbg_molhiv_val = pd.read_csv(f'../../DL-project_results/ogbg_molhiv_baseline_grid_gin/agg/val_best.csv')
ogbg_molhiv_test = pd.read_csv(f'../../DL-project_results/ogbg_molhiv_baseline_grid_gin/agg/test.csv')

ogbg_molhiv_dilated = ogbg_molhiv_val[ogbg_molhiv_val['type'] == 'dilated_gnn'].sort_values('auc', ascending=False)
ogbg_molhiv_pos = ogbg_molhiv_val[ogbg_molhiv_val['type'] == 'dilapos_gnn'].sort_values('auc', ascending=False)
ogbg_molhiv_dilated.head(1)

,type,layer,edges,k1,k2,batch_size,dropout,gpool,epoch,ckpt_epoch,...,accuracy_std,precision,precision_std,recall,recall_std,f1,f1_std,auc,auc_std,model_id
77,dilated_gnn,edge_ginconv,True,1,1,128,0.0,mean,val_best,96.9,...,0.0022,0.4331,0.0531,0.3222,0.0433,0.3664,0.0362,0.849,0.0104,ogbg_molhiv_baseline-type=dilated_gnn-layer=ed...

In [98]:

ogbg_molhiv_dilated_test = ogbg_molhiv_test[ogbg_molhiv_test['model_id'] == ogbg_molhiv_dilated.iloc[0]['model_id']]
ogbg_molhiv_dilated_test.head(1)

,type,layer,edges,k1,k2,batch_size,dropout,gpool,epoch,ckpt_epoch,...,accuracy_std,precision,precision_std,recall,recall_std,f1,f1_std,auc,auc_std,model_id
77,dilated_gnn,edge_ginconv,True,1,1,128,0.0,mean,best_epoch,96.9,...,0.0023,0.3773,0.0432,0.2492,0.0422,0.2978,0.0354,0.7656,0.0143,ogbg_molhiv_baseline-type=dilated_gnn-layer=ed...

In [99]:
ogbg_molhiv_dilapos_test = ogbg_molhiv_test[ogbg_molhiv_test['model_id'] == ogbg_molhiv_pos.iloc[0]['model_id']]

In [101]:
ogbg_molhiv_pos.head(1)

,type,layer,edges,k1,k2,batch_size,dropout,gpool,epoch,ckpt_epoch,...,accuracy_std,precision,precision_std,recall,recall_std,f1,f1_std,auc,auc_std,model_id
7,dilapos_gnn,edge_ginconv,True,1,1,128,0.5,mean,val_best,72.3,...,0.0026,0.5031,0.1055,0.2827,0.0774,0.3465,0.0645,0.8477,0.0055,ogbg_molhiv_baseline-type=dilapos_gnn-layer=ed...

In [ ]:
pd.DataFrame([
{
    'layer': 'gin',
    'dataset': 'ogbg-molhiv',
    'arc': 'dilated',
    'val_accuracy':  f"{round(100*ogbg_molhiv_dilated.iloc[0]['auc'],4)}±{round(100*ogbg_molhiv_dilated.iloc[0]['auc_std'],4)}" ,
    'test_accuracy': f"{round(100*ogbg_molhiv_dilated_test.iloc[0]['auc'],4)}±{round(100*ogbg_molhiv_dilated_test.iloc[0]['auc_std'],4)}"
},
{
    'layer': 'gin',
    'dataset': 'ogbg-molhiv',
    'arc': 'dilapos',
    'val_accuracy':  f"{round(100*ogbg_molhiv_pos.iloc[0]['auc'],4)}±{round(100*ogbg_molhiv_pos.iloc[0]['auc_std'],4)}" ,
    'test_accuracy': f"{round(100*ogbg_molhiv_dilapos_test.iloc[0]['auc'],4)}±{round(100*ogbg_molhiv_dilapos_test.iloc[0]['auc_std'],4)}"
},
{
    'layer': 'gin',
    'dataset': 'ogbg-molhiv',
    'arc': 'reference gnn',
    'val_accuracy':  f"82.32 ± 00.90",
    'test_accuracy': f"75.58 ± 01.40"
}
])

  layer      dataset            arc   val_accuracy  test_accuracy
0   gin  ogbg-molhiv        dilated      84.9±1.04     76.56±1.43
1   gin  ogbg-molhiv        dilapos     84.77±0.55     77.49±0.32
2   gin  ogbg-molhiv  reference gnn  82.32 ± 00.90  75.58 ± 01.40

In [ ]:
pd.DataFrame([
    {'depth' : 6, 'k2': 2, 'h': 128 , 'batch_size': 1024, 'accuracy': 0.56 },
    {'depth' : 6, 'k2': 2, 'h': 256 , 'batch_size': 1024, 'accuracy': 1.0 },
    {'depth' : 7, 'k2': 2, 'h': 128 , 'batch_size': 2048, 'accuracy': 0.5 },
    {'depth' : 7, 'k2': 2, 'h': 256 , 'batch_size': 2048, 'accuracy': 0.99 },

    {'depth' : 7, 'k2': 3, 'h': 128 , 'batch_size': 2048, 'accuracy': 0.88 },
    {'depth' : 7, 'k2': 3, 'h': 256 , 'batch_size': 2048, 'accuracy': 1.0 }
    
])

   depth  k2    h  batch_size  accuracy
0      6   2  128        1024      0.56
1      6   2  256        1024      1.00
2      7   2  128        2048      0.50
3      7   2  256        2048      0.99
4      7   3  128        2048      0.88
5      7   3  256        2048      1.00